{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <div class="flex flex-col items-center">
        <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
            <legend class="fieldset-legend">Register</legend>

            {%if not app.user%}

                {{ form_start(registrationForm) }}
                <div class="">
                    {{ form_label(registrationForm.name, null, {'label_attr': {'class': 'label'}}) }}
                    {{ form_widget(registrationForm.name, {'attr': {
                        'class': 'input w-full',
                        'placeholder': 'Name'
                    }}) }}

                    <div class="text-error text-sm mt-1">
                        {{ form_errors(registrationForm.name) }}
                    </div>
                </div>

                <div >
                    {{ form_label(registrationForm.email, null, {'label_attr': {'class': 'label'}}) }}
                    {{ form_widget(registrationForm.email, {'attr': {
                        'class': 'input w-full',
                        'placeholder': 'Email'
                    }}) }}

                    <div class="text-error text-sm mt-1">
                        {{ form_errors(registrationForm.email) }}
                    </div>
                </div>

                <div >
                    {{ form_widget(registrationForm.plainPassword) }}

                    <div class="text-error text-sm mt-1">
                        {{ form_errors(registrationForm.plainPassword) }}
                    </div>
                </div>

                {% if registrationForm.vars.errors|length > 0 %}
                    <div class="text-error mb-4">
                        {{ form_errors(registrationForm) }}
                    </div>
                {% endif %}

                <div class="flex flex-row items-center  justify-between">
                    <button type="submit" class="btn btn-neutral mt-4">Register</button>
                    <span>Already have an account? <a href="/login"
                                                    class="underline">Login</a></span>
                </div>

                <p class="mt-4">Register as a supplier <a class="underline" href="/register/supplier">here</a></p>

                {{ form_end(registrationForm) }}

            {% else %}

                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }} <a
                        href="{{ path('app_logout') }}" class="underline">Logout</a>
                </div>
            {% endif %}

        </fieldset>

    </div>

{% endblock %}
